name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install system deps
      run: |
        sudo apt update
        sudo apt install -y \
          python3 python3-pip \
          git zip unzip \
          openjdk-17-jdk \
          autoconf automake libtool pkg-config \
          build-essential

    - name: Install buildozer
      run: |
        pip3 install --upgrade pip
        pip3 install buildozer==1.5.0 cython

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: strategy2560-apk
        path: bin/*.apk
